*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Comfortaa', cursive;  }
  
body{
    background-color: #192b41;
    padding-right:20px ;
}
  .right{
      float: right;
    height: 80vh;
     margin-top: 60px ;
  }
.body{
    float: left;
    padding-top: 50px ;
    padding-left:80px ;
    width: 60%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: space-evenly !important;
}
.body p{
    color: #8494a4;
    padding-top: 15px;
    font-size: 13px;
}
.body img{
    align-items:flex-start !important;
    height: 200px;
    width: 400px;
    float: left !important;
    padding-bottom:20px ;
 
 
}
  
  
  .wrapper .right{
    width: 37%;
    height: 100%;
    padding: 30px;
    border-right:20px ;
    

  }
  .dummy{
     float:right;
      border-left: -20px;
      color: #babcbe;
      font-size: 12px;
  }
  .dum{

    color: #445461;
  }
  .forgot{
      float: right;
      color: #445461;
    text-align: right;
  font-size:12px;
    margin-top:-40px ;
    }
 
  .wrapper  img{
    display: block;
    width: 340px;
    height: 370px;
    border-bottom: 10px;

  }
  
  .wrapper .right{
    background: #fff;
    height: 80vh;
    border-radius:8px;
  }
  .body h2{
      border-top:10px ;
  }
  .wrapper .right .tabs ul{
    text-align: center;
  }
  
  .wrapper .right .tabs ul li{
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: #494f57;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
  }
  
  .wrapper .right .tabs ul li.active{
    border-bottom: 2px solid #494f57;
  }
  
  .wrapper .right .register,
  .wrapper .right .login{
    margin-top: 20px;
  }
  
  .wrapper .right .input_field{
    margin-bottom: 15px;
  }
  
  .wrapper .right .input_field .input{
    width: 100%;
    padding: 10px 15px;
    border: 0;
    font-size: 12px;
    background: #ffffff;
    border-radius: 8px;
    margin-bottom: 30px;
    border: 1px solid #8494a4;
}
  
  .wrapper .right .btn{
    margin-top: 20px;
    background: #445567;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 8px;
  
    width: 40%;
    margin-top: 120px;
    align-items: center;
    margin-bottom: -50px;
    z-index: 10;
    
}
  
  .wrapper .right .btn a{
    color: #fff;
    display: block;
    font-size: 14px;
  }
  @media screen and (max-width: 900px){
      .wrapper{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-left: -20px;
      }
      .body{
          border-left: 10% !important;
      }
      .right{
           padding: 50%;
           border-right: -40px;
           width: 80% !important;
      }
      .wrapper .right .btn{
        border-top: -180px;

    }
    .login  .btn{
        margin-bottom: 70px !important;
        margin-top: -30px !important;
    }
    .login{
        border-bottom: -20px !important;
    }
    .register .btn{
        margin-bottom: 70px !important;
        margin-top: -30px !important;
    }
  }
